[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataMojo"]
	path = dataMojo
	url = https://github.com/cran/dataMojo
[submodule "faq"]
	path = faq
	url = https://github.com/jienagu/faq
[submodule "flashCard"]
	path = flashCard
	url = https://github.com/jienagu/flashcard
[submodule "forestry"]
	path = forestry
	url = https://github.com/jienagu/forestry
