[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dataMojo"]
	path = dataMojo
	url = https://github.com/cran/dataMojo
	shallow = true
	registered = true
[submodule "faq"]
	path = faq
	url = https://github.com/jienagu/faq
	shallow = true
	registered = true
[submodule "flashCard"]
	path = flashCard
	url = https://github.com/jienagu/flashcard
	shallow = true
	registered = true
[submodule "forestry"]
	path = forestry
	url = https://github.com/jienagu/forestry
	shallow = true
	registered = true
